
<!DOCTYPE html>
<html>
<head>
	<title>Home Page</title>
	<link rel="stylesheet" type="text/css" href="homepage.css">
</head>
<body>

	<div class="container">

		<div class="menu">
			<ul
				<li> <a href="mainpage.html" class="mainpage-btn"><span>mainpage</span></a></li>
				<li> <a href="Profile.html" class="Profile-btn"><span>Profile</span></a></li>
				<li> <a href="topselling.html" class="topselling-btn"><span>topselling</span></a></li>
				<li> <a href="productInfo.html" class="productInfo-btn"><span>productInfo</span></a></li>
				<li> <a href="pubgprofile.html" class="pubgprofile-btn"><span>pubgprofile</span></a></li>
				<li> <a href="transaction.html" class="transaction-btn"><span>transaction</span></a></li>
         
			</ul>
		<div/>
	</div>
	<img  class= "pic" src="../assets/back.jpeg">
	<script src="js/support.js"></script>
</body>
</html>

