<html>
<head>
	<title>Login</title>
	<link rel="stylesheet" href="login.css">
	<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/fontawesome.min.css">
</head>
<body>
	
<nav>
    <ul>
<li><a href="mainpage.html" class="main-btn"><b>Main</b></a></li>

 --></ul>
</nav>
<br>
<br>
    <div class="container"> 
	<form method="post" action="../controller/loginCheck.php">
		<h1 class="text">LOG IN</h1>

			
		<div class="form-control1">
		<i class="fas fa-user"></i>
		<label for="username">USER NAME</label>
		<input type="text" name="username" value="">
		</div>		
				
		<div class="form-control">
		<i class="fas fa-lock"></i>
		<label for="password">PASSWORD</label>
		<input type="password" name="password" value="">
		</div>		
				
					
		<button type="submit" name="login" value="">LOG IN </button>
                    
				
			
		<p>Don't have an account? then <b>Create a new one</b>  </p>
            
		<button type="submit" name="submit" value="">CREATE</button>
            
		
	</form>
	</div>
	<!-- <img  class= "pic" src="../assets/back.jpeg"> -->
    
</body>
</html>