<!DOCTYPE html>
<html>
<head>
	<title>First Page</title>
	<link rel="stylesheet" type="text/css" href="mainpage.css">
</head>
<body>

	<div class="container">

		<div class="menu">
			<ul
				
				<li class="Active">Home</li>
				<li> <a href="Profile.html" class="#"><span>Profile</span></a></li>
                <li>Product</li>
				<li>Contact</li>
				<li> <a href="login.html" class="login-btn"><span>login</span></a></li>
				<li> <a href="registration.html" class="registration-btn"><span>registration</span></a></li>
			</ul>
		<div/>
	</div>
	<img  class= "pic" src="../assets/back.jpeg">
</body>
</html>