<html>
<head>
	<title>PubgProfile</title>
	<link rel="stylesheet" href="PubgProfile.css">
</head>
<body>
	<!-- <form method="post" action="../controller/ProfileCheck.php"> -->
		<fieldset style="color:blue;font-size: 50px" >
			<legend>PubgProfile</legend>
			<table>
				<tr>
					<td>Name:</td>
					<td><input type="" name="PUBG" value="PUBG"></td>
				</tr>
				<tr>
					<td>Release:</td>
					<td><input type="" name="Dec 10,2017" value="Dec 10,2017"></td>
				</tr>
				<tr>
					<td>price:</td>
					<td><input type="price" name="" value="2500 BDT."></td>
				</tr>
				<td></td>
				<td></td>
				<tr>
					<!-- <td></td> -->
					<td><input type="submit" name="Update" value="Update"></td>
					<td><input type="submit" name="Delete" value="Delete"></td>
					
				</tr>
			</table>
		</fieldset>
	</form>
<