<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" href="topselling.css">
</head>
<body>
	<h1>Game List</h1>
	<ul>
		
		<li> <b>PUBG<b/> </li>
		<img src ="../assets/pubg.jpg" width="100px" height="100"  <p class="price">PRICE=2500 BDT</p>
		<a class="btn btn-default" href="#purchase">Purchase Now</a>
		<br/>
		<li> FREE FIRE</li>
		<img src ="../assets/free.jpg" width="100px" height="100"  <p class="price">PRICE=2000 BDT</p>
		<a class="btn btn-default" href="#purchase">Purchase Now</a>
		<br/>
		<li> GOAL SCORER</li>
		<img src ="../assets/goal.jpg" width="100px" height="100"   <p class="price">PRICE=1500 BDT</p>
		<a class="btn btn-default" href="#purchase">Purchase Now</a>
		<br/>
		<li> TEEN PATTI</li>
		<img src ="../assets/patti.png" width="100px" height="100"   <p class="price">PRICE=1000 BDT</p>
		<a class="btn btn-default" href="#purchase">Purchase Now</a>

	</ul>
	     
</body>
</html>
