<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Steam - About</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
        integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous" />
    <link rel="stylesheet" href="css/styles.css" />
    <link rel="stylesheet" href="css/about.css" />
</head>

<body>
    <header id="header">
        <div class="brand-logo">
            <a href="index.html">
                <img src="../assets/images/Steam_icon_logo.svg.png" alt="Steam" />
            </a>
        </div>

        <nav id="navbar">
            <ul>
                <li><a href="../index.php">Store</a></li>
                <li><a href="community.html">Community</a></li>
                <li><a href="about.html">About</a></li>
                <li><a href="support.html">Support</a></li>
            </ul>
        </nav>
        <div class="log-reg">
            <a href="login.html">Login</a>
            <a href="registration.html">Register</a>
        </div>
    </header>


    <div class="container">
        <!-- about steam area-->
        <div class="about-steam">

            <div class="about-video">
                <video src="../assets/images/about/about_hero_loop_web.mp4"></video>
            </div>
            <div class="about-greeting">
                <div class="steam-logo">
                    <h1><i class="fab fa-steam" id="steam-ico"></i>Steam</h1>
                </div>
                <div class="about-subtitle">
                    Steam is the ultimate destination for playing, discussing, and creating
                    games.
                </div>
                <div class="install-steam">
                    <div class="install-steam-btn">
                        <a href="#">Install Steam<i class="fab fa-windows"></i></a>
                    </div>
                    <div class="install-list">Also available on:</div>
                    <div>
                        <a href=""><i class="fab fa-apple"></i></a>
                    </div>
                </div>
            </div>
        </div>




        <div class="cta-title">
            <h2>Access Game Instantly</h2>
            <div class="cta-text">
                With nearly 30,000 games from AAA to indie and everything in-between. Enjoy exclusive deals, automatic
                game updates, and other great perks.
            </div>
            <div class="cta-btn">
                <a href="../index.html">Browse the Store</a>
            </div>
        </div>

        <!-- Join community area -->
        <div id="cta-community" class="about-cta">

            <div class="cta-hero">
                <!-- <img src="../assets/images/about/cta_hero_community_pt1.png" alt=""> -->
                <img src="../assets/images/about/cta_hero_community_pt2.png" alt="">
            </div>
            <div class="cta-title">
                <h2>Join the Community</h2>
                <div class="cta-text">
                    Meet new people, join groups, form clans, chat in-game and more! With over 100 million potential
                    friends
                    (or enemies), the fun never stops.
                </div>
                <div class="cta-btn">
                    <a href="../index.html">Visit the Community</a>
                </div>
            </div>
        </div>
        <!-- Steamworks area -->
        <div id="cta-steamworks" class="about-cta">
            <div class="cta-hero">
                <img src="" alt="">
            </div>
            <div class="cta-title">
                <h2>Release your Game</h2>
                <div class="cta-text">
                    Steamworks is the set of tools and services that help game developers and publishers get the most
                    out of
                    distributing games on Steam.
                </div>
                <div class="cta-btn">
                    <a href="../index.html">Learn about Steamworks</a>
                </div>
            </div>
        </div>

    </div>
</body>

</html>