<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/support.css">
    <title>Steam - Community</title>
</head>
<body>
    <header id="header">
            <div class="brand-logo">
                <a href="index.php">
                    <img src="../assets/images/Steam_icon_logo.svg.png" alt="Steam">
                </a>
            </div>

            <nav id="navbar">
                <ul>
                    <li><a href="home.php">Store</a></li>
                    <li><a href="#">Community</a></li>
                    <li><a href="about.html">About</a></li>
                    <li><a href="support-home.html">Support</a></li>
                </ul>
            </nav>
            <div class="log-reg">
                <a href="profile.html">Profile</a>
            </div>
        </header>

        <section>
            <div id="container">
                <h1>Community Activity</h1>
                <div class="sptext1">
                    Community and official content for all games and software on Steam.  
                </div>
                <div class="sptext2">
                    Log in to the Steam Community to find more Hubs to browse.
                </div>
                
            </div>
        </section>
</body>
</html>