<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/registration.css">
    <title>Steam - Account Forget Password</title>
</head>
<body>
    <div class="form">
        <form action="../controller/forgot-password.php" method="post">
            <div>
                <h1>Forgot Password</h1>
            </div>
            <div>
                <label for="femail">Email</label><span id="emailError"></span>

                <input type="email" name="email" id="femail" required />
            </div>
            
            <button type="submit" name="submit" id="submitbtn">Send Code</button>
        </form>
    </div>
</body>
</html>