<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/registration.css">
    <title>Steam - Account Forget Password</title>
</head>
<body>
    <div class="form">
        <form action="" method="post">
            <div>
                <h1>Forgot Password</h1>
            </div>
            <div>
                <label for="vcode">Vefification Code</label><span id="verificationError"></span>

                <input type="text" name="vcode" id="vcode" required />
            </div>
            <div>
                <label for="fnewpassword">New Password</label><span id="passwordError"></span>
                <input type="password" name="newpassword" id="fnewpassword" required />
            </div>
            <div>
                <label for="fnewconfirmpassword">Confirm Password</label><span id="passwordError"></span>
                <input type="password" name="newconfirmpassword" id="fnewconfirmpassword" required />
            </div>
            <button type="submit" name="submit" id="submitbtn">Save</button>
        </form>
    </div>
</body>
</html>