<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/registration.css">
    <title>Steam - Purchase</title>
</head>

<body>
    <div class="form">
        <form action="" method="post">
            <div>
                <h1>Payment</h1>
            </div>
            <div>
                <label for="fpaymentoption">Please Select a payment method</label>
                <select name="payment" id="fpaymentoption">
                    <option value="Male">Paypal</option>
                    <option value="Visa">Visa</option>
                    <option value="MasterCard">Master card</option>
                    <option value="American Express">American Express</option>
                    <option value="Discover">Discover</option>
                    <option value="JCB">JCB</option>
                </select>
                <span id="paymentError"></span>
            </div>
            <button type="submit" name="submit">Continue</button>
        </form>
    </div>
</body>
<a href="../views/payment.html"></a>
</html>