<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/support.css">
    <title>Steam - Support</title>
</head>
<body>
    <header id="header">
            <div class="brand-logo">
                <a href="index.php">
                    <img src="../assets/images/Steam_icon_logo.svg.png" alt="Steam">
                </a>
            </div>

            <nav id="navbar">
                <ul>
                    <li><a href="home.php">Store</a></li>
                    <li><a href="community.html">Community</a></li>
                    <li><a href="about.html">About</a></li>
                    <li><a href="support.html">Support</a></li>
                </ul>
            </nav>
            <div class="log-reg">
                <a href="login.html">Login</a>
                <a href="registration.html">Register</a>
            </div>
        </header>

        <section>
            <div id="container">
                <h1>Steam Support</h1>
                <div class="sptext1">
                    What do you need help with?
                </div>
                <div class="sptext2">
                    Sign in to your Steam account to review purchases, account status, and get personalized help.
                </div>
                <div>
                    <a href="login.html" class="sign-btn">Sign in to Steam</a>
                </div>
            </div>
        </section>
</body>
</html>