*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    background-color: #04293A;
}
.container
{
 display: flex;
 background-color: #678983;
 border-radius: 5px;
 box-shadow: 0 2px 10px;
 width: 600px;
 margin-left: 500px;


}

.form-control
{
 margin-bottom: 10px;
 padding-bottom: 20px;
 position: relative;
}
.form-control label
{
 color: #000;
 display: block;
 margin-bottom: 5px;
}
.form-control input
{
    margin-left: 65;
 border: 2px solid #F6F5F5;
 border-radius: 4px;
 display: block;
 width: 100%;
 padding: 10px;
 font-size: 14;
}
.form-control input:focus
{
 outline: 0;
 border-color: skyblue;
}
.form-control.success input
{
 border-color: #54E346;
}
form button
{
 cursor: pointer ;
 background-color: #98BAE7;
 border: 1px solid #98BAE7;
 border-radius: 16px;
 color: #000;
 display: block;
 font-size: 16px;
 padding: 8px;
 margin-left: 85;
 margin-top: 20;
 width: 70%;
}

.text
{
   margin-left: 55;
   color: white;
   font-size: 25;
}

nav{
    display: flex;
    background-color: #064663;
    width: 100%;
    height: 50px;
    justify-content: space-around;
    align-items: center;
    
    
}

nav ul{
    display: flex;
    list-style-type: none;
    

}

nav a
{
    text-decoration: none;
    height: 30px;
    width: 200px;
    /* background-color: rosybrown; */
    border-radius: 25px;
    border: none;
    color: black;
    text-align-last: center;
}

.main-btn {
    top: 45px;
    right: 550px;
    position: absolute;
    text-decoration: none;
    color: #fff;
    border: 2px solid transparent;
    border-radius: 15px;
    background-image: linear-gradient(#42455a,#42455a),radial-gradient(circle at top left,#22577E,#19d7f8);
    background-origin: border-box;
    background-clip: content-box,border-box;
    }

    .registration-btn {
        top: 45px;
        right: 850px;
        position: absolute;
        text-decoration: none;
        color: #fff;
        border: 2px solid transparent;
        border-radius: 15px;
        background-image: linear-gradient(#42455a,#42455a),radial-gradient(circle at top left,#22577E,#19d7f8);
        background-origin: border-box;
        background-clip: content-box,border-box;
        }

        .color
        {
            color: black;
        }