<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <meta http-equiv="X-UA-Compatible" content="IE=edge">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <title>About | Gameoholic</title>
 <link rel="stylesheet" href="css/aboutcontact.css">
</head>
<body>
<div class="banner-area">
 <header>
  <a href="home.html" class="logo">HOME</a>
  <ul class="menu">
   <li><a href="about.html">About</a></li>
   <li><a href="login.html">Log Out</a></li>
   <li><a href="contact.html">Contact</a></li>
  </ul>
 </header>
 <div class="banner-text">
  <h1>Gameoholic</h1>
  <p>Made By Programmers Of Bangladesh</p>
  <p>First ever game purchasing e-store in Bangladesh, GAMEOHOLIC, developed by the programmers of Bangladesh</p>
 </div>
</div>
 <a href="profile.html">Profile</a>
 <script src="js/support.js"></script>
</body>
</html>